.regisform{
    *{
        margin: 0;
        padding: 5px 15px;
    }
    .title{
        font-size: 18px;
    }
    .logo-pmc{
        width: 100px;
        text-align: left;
    }
    .detail{
        font-size: 16px;
        font-weight: 100;
    }
    .topcard{
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
    }

    @media only screen and (max-width: 425px)  {
        .detail{
            font-size: 14px;
            font-weight: 100;
        }
        .title{
            font-size: 16px;
        }
    }
}