.y-scroll {
    overflow-y: scroll;
}
.x-scroll {
    overflow-x: scroll;
}
.y-hidden {
    overflow-y: hidden;
}
.position-inherit {
    position: inherit;
}
.space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.space-around {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.object-fit-contain {
    object-fit: contain;
}
.h-91 {
    height: 91% !important;
}
.w-t-025 {
    width: 25px;
}
.w-t-050 {
    width: 50px;
}
.w-t-075 {
    width: 75px;
}
.w-t-100 {
    width: 100px;
}
.w-t-125 {
    width: 125px;
}
.w-t-150 {
    width: 150px;
}
.w-t-175 {
    width: 175px;
}
.w-t-200 {
    width: 200px;
}
.w-t-225 {
    width: 225px;
}
.w-t-250 {
    width: 250px;
}
.w-t-275 {
    width: 275px;
}
.w-t-300 {
    width: 300px;
}
.w-t-400 {
    width: 400px;
}
.modal-body {
    .select-search {
        height: 450px;
        overflow-y: scroll;
        > * {
            width: 100%;
        }
    }
}
.text-gold {
    color: #967117;
}
